<div class="alert alert-warning alert-dismissable">
  <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
  <div class="row">
    <div class="col-md-3">
      New friend request from
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <% @pending_friend_requests.each do |request| %>
        <strong><%= request.user.name %></strong> &nbsp;&nbsp;&nbsp; <span class="badge badge-success">Accept</span>&nbsp;&nbsp;<span class="badge badge-danger">Reject</span><button type="submit" class="btn btn-default">Send invitation</button></br>
      <% end %>
    </div>
  </div>
</div>
