<!-- <div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <div class="row">
    <div class="col-md-3">
  <h4 style="font-weight: 400;"><i class="icon fa fa-user-plus"></i> New friend requests</h4>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <% @pending_friend_requests.each do |request| %>
      <strong style="font-weight: 400;"><%= request.user.name %></strong> &nbsp;&nbsp;&nbsp; <button class="btn btn-warning btn-xs"><i class="fa fa-fw fa-check-circle"></i>&nbsp;Accept</button>&nbsp;&nbsp;<button class="btn btn-danger btn-xs"><i class="fa fa-fw fa-times-circle"></i>&nbsp;Reject</button></br>
      <% end %>
    </div>
  </div>
</div> -->
